*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* animation: back_img_ani 3s; */
}
.back_img{
    animation: back_img_ani 3s;
}
@keyframes back_img_ani{
    0% {transform: scale(2.5)}
    100% {transform: scale(1);}
}

nav{
    margin:0 auto;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    line-height: 120px;
    text-align: center;
    top: 0;
    left: 0;
}
nav div{
    width: 18%;
    color: white;
    font-weight: bold;
}
nav div:hover{
    cursor: pointer;
}

section{
    width: 90%;
    height: 3000px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 4.7rem 4rem;
    position: absolute;
}
.main{
    position: relative;
    top:270px;
    left:720px;
}
.main_text{
    margin: 30px auto;
    position: relative;
    top:270px;
    left:310px;
}
.main_text span{
    color:white;
    font-size: 70px;
    font-weight: 900;
}
.gray{
    font-weight: 900;
    color: rgb(166,170,179);
    display: inline;
}