* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section {
    width: 80%;
    height: 200px;
    border: 0px solid red;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    /* Solve2 */
    flex-wrap: wrap;
}

section .imgs {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

section .imgs div {
    width: 14%;
    height: 150px;
    border: 0px solid green;
}

section .imgs div img {
    width: 100%;
    height: 100%;
}

section .imgs_text {
    width: 100%;
    height: 50px;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
}

section .imgs_text li {
    width: 14%;
    height: 50px;
    border: 0px solid green;
    text-align: center;
    line-height: 50px;
}