.menu{
    width: 100%;
}
.menu tr{

}
.menu tr td{
    border: 1px solid #ccc;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.menu tr td:hover{
    background-color: black;
    color: white;
}
.imgBox{
    width: 90%;
    height: 300px;
    border: 1px solid black;
    margin: 50px auto;
}
.imgBox img{
    width: 100%;
    height: 100%;
}